<h4>{{content.length}} serviços monitorados</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"></th>
      <th>Prefeitura</th>
      <th class="center">Média de resposta (ms)</th>
      <th class="center">Última resposta (ms)</th>
      <th class="center">Último status</th>
      <th>Mudança de status</th>
    </tr>
  </thead>
  <tbody>
    {{#each item in content}}
      <tr {{ bind-attr title=item.count }}>
        <td>{{fa-icon item.icon}}</td>
        <td>{{item.description}}</td>
        <td class="center">{{item.avgResponseTime}}</td>
        <td class="center">{{item.lastResponseTime}}</td>
        <td class="center">{{item.lastStatus}}</td>
        <td>{{item.statusChangedOn}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
